<footer class="footeer  text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4   ">
            <div class="logo ">
                <div class="row">
                    <img class="mr-2" src="../../../assets/img/logo/logo32B.png" alt="">
                    <span class="el">EL</span><span class="e">e</span><span class="rn">rn</span>
                </div>
            </div>
            <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora magni earum atque sed voluptates. Incidunt ad expedita in laborum quidem.</p>
          
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 d-flex justify-content-center">
            <div class="my-links">
                <h5 class="text-capitalize link-f">Liens</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#!" class="linkss">Accueil</a>
                  </li>
                  <li>
                    <a href="#!" class="linkss">Foramtions</a>
                  </li>
                  <li>
                    <a href="#!" class="linkss">Service</a>
                  </li>
                  <li>
                    <a href="#!" class="linkss">Categories</a>
                  </li>
                  <li>
                      <a href="#!" class="linkss">Meilleurs</a>
                    </li>
                    <li>
                      <a href="#!" class="linkss">Sondages</a>
                    </li>
                </ul>
            </div>
          
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 d-flex justify-content-center">
            <div class="my-links">
                <h5 class="text-capitalize link-f mb-0">Contact</h5>
                <div class="row mt-3">
                    <a href=""><i style="color: #4267B2;margin-right: 10px;" class="fa fa-facebook-square fa-2x"></i></a>
                    <a href=""><i style="margin-right: 10px;" class="fa fa-instagram fa-2x"></i></a>
                    <a href=""><i style="color: #1DA1F2;" class="fa fa-twitter-square fa-2x"></i></a>
                </div>

                </div>
          
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

  </footer>