.specification{
    .some-infos{
        height: 200px;
        background-color: #EFFFFD;
        h1{
            font-size: 50px;
            color: #0d2f4b;
            font-weight: 600;
            text-transform: capitalize;
        }
        img{
            height: 300px;
            width: 200px;
            position: absolute;
            right: 50px;
            top: 100px;
        }
    }
    .spec{
        color: black;
        line-height: 40px;
        
    }
}