<div class="welcome d-flex p-3 justify-content-center align-items-center">
    <div>
        <img class="d-inline image-bnj mr-2" src="../../../assets/img/icons/hands.png"><h5 class="d-inline text-bnj ">Bonjour, {{teacher}}!</h5>
        <p class="p-bnj d-block">Nous espérons faire de votre mieux aujourd'hui avec vos Etudiants. comme toujours</p> 
        <div class="d-flex justify-content-center">
            <img src="../../../assets/img/icons/happy.png" alt=""><img class="ml-2" src="../../../assets/img/icons/happy.png" alt="">
        </div>
        <hr class="line">
        <div class="total-cours">
            <p class="total-txt p-bnj ">Tous Mes Formations</p>
            <img class="arrow" src="../../../assets/img/icons/scribble.png" alt="">
            <span class="care">{{actualCours}}</span>
        </div>
    </div>

</div>
