.chapter-list{
    position: absolute;
    right: 20px;
    top: 120px;
    width: 400px;
    height: max-content;
    z-index: 99;
    background-color: rgb(211, 205, 205);
    ul:nth-child(1){
       .chapter{
           margin-top: 0;
           border: none;
       }
    }
    .chapter{
        width: 100%;
        height: 80px;
        border-top: 1px solid rgb(165, 163, 163);
        display: list-item;
        box-sizing: border-box;
        margin-top: -17px;
        a{
            font-size: 20px;
            letter-spacing: 3px;
            text-transform: capitalize;
            text-decoration: none;
            color: #000000;
            font-weight: 700;
            display: block;
            width: 100%;
            
        }
        a.active{
            background-color: #3b3a3a;
            color: #ffffff;
        }

        a:hover{
            background-color: #000B49;
            color: #ffffff;
            transform: scale(1.03);
        }

    }
    
}
.contenue{
    position: absolute;
    top: 145px;
    left: 50px;
    width: 870px;
}
.nav-comments {
    position: fixed;
    top: 40%;
    // z-index: 99;
  }
  .nav-comments ul {
    padding: 20px;
    -webkit-transform: translate(-290px, 0);
    -moz-transform: translate(-290px, 0);
    -ms-transform: translate(-290px, 0);
    -o-transform: translate(-290px, 0);
    transform: translate(-290px, 0);
  }
  .nav-comments ul li {
    display: block;
    margin: 5px;
    background: #00ccff;
    width: 310px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  // .nav-comments ul li:hover {
  //   -webkit-transform: translate(115px, 0);
  //   -moz-transform: translate(115px, 0);
  //   -ms-transform: translate(115px, 0);
  //   -o-transform: translate(115px, 0);
  //   transform: translate(115px, 0);
  //   background: rgba(211, 205, 205,0.4);
  // }
  .nav-comments ul li:hover a {
    color: #000;
  }
  .nav-comments ul li:hover img {
    /* color: #fff;
    background: rgba(0, 0, 0, 0.36); */
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .nav-comments ul li img {
    margin-left: 24px;
    /* color: #000;
    background: #fff; */
    padding: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }