<div class="our-service ">
    <h1 class="text-center  title-service">Ce que nous fournissons</h1>
    <img class="cloud-icon" src="../../../assets/img/our-service/cloud-3.png" alt="cloud">
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <div class="card-custom card1">
                    <img class="img-ccard" src="../../../assets/img/our-service/teacher.png" alt="">
                    <h3 class="text-center">Meilleurs Formateurs</h3>
                    <!-- <h5>...</h5> -->
                </div>

            </div> 
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <div class="card-custom card2 ">
                    <img class="img-ccard" src="../../../assets/img/our-service/life-insurance.png" alt="">
                    <h3 class="text-center">Accès à vie</h3>
                    <!-- <h5>...</h5> -->
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <div class="card-custom card3 ">
                    <img class="img-ccard" src="../../../assets/img/our-service/videoconference.png" alt="">
                    <h3 class="text-center">Formation en ligne</h3>
                    <!-- <h5>...</h5> -->
                </div>
            </div>
        </div>
    </div>
</div>
