<nav class="navbar navbar-expand-lg navbar-light   mb-5" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active mr-5">
          <a class="nav-link " style="padding-top:4px; "  [routerLink]="['profile']" routerLinkActive="router-link-active" ><img [src]="imgPath"> <span style="font-weight: bold;font-size:13px;margin-left:2px">{{currentUser.name}}</span></a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <img height="40px" style="margin-right: 7px; border-radius: 50%;" width="40px" [src]="imgPath"> <span style="font-weight: bold;font-size:13px;margin-left:2px"><span style="font-size: 15px;">Bonjour,</span> {{currentUser.name}}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['profile']" routerLinkActive="router-link-active"  >Profile <img src="../../../assets/img/user (3).png" style="margin-left:61px;" alt=""></a>
            <a class="dropdown-item" [routerLink]="['profile/edit']">Modifier profile <img style="margin-right:1px" src="../../../assets/img/settings.png" alt=""></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()">Déconnexion</a>
          </div>
        </li>
    </ul>
    </div>
  </nav>