.commment{
    margin-top: 100px;
}


.comment{
    h1{
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 3px;
        color: #303952;
        
    }
    .one-comment{
        width: 70%;
        h4{
            color: #6d665c;
            font-size: 20px;
            font-weight: 600;
        }
        .cmt{
            font-weight: 500;
            font-size: 20px;
        }
    }
}
hr{
    border-top: 1px solid #6c6e72;
    
}