
<div class="header-custom mt-2">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-5 left-grid">
                <div class="container-custom">
                    <h1 class="first-title">Un endroit idéal pour</h1>
                <h2 class="second-title">l'éducation en ligne</h2>
                <!-- <p class="first-p">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ducimus eveniet eligendi laudantium similique laboriosam. 
                </p> -->
                <button (click)="goToCourses()" class="btnn-header">Explorer les cours</button>
                </div>
                
            </div>
            <div class="col-md-7 right-grid">
                <div class="container-custom">
                    <div class="croissant"> 
                        <img class="img-h" src="../../../assets/img/logo/premium-quality.png" alt="">
                        <h5 class="best text-center">meilleur site pour l'education en ligne</h5>
                </div>
                    <div class="nbStudent">
                        <img class="img-h" src="../../../assets/img/logo/shield.png" alt="">
                        <h5 class="best text-center"><span class="font-weight-bold mx-2">+</span><span class="mr-2 nb-s">{{allStudent}}</span>étudiant de confiance</h5>
                    </div>
                    <div class="nbCours">
                        <img class="img-h" src="../../../assets/img/logo/online-learning.png" alt="">
                        <h5 class="best text-center"><span class="font-weight-bold mx-2">+</span><span class="mr-2 nb-c">{{allCours}}</span>Formations</h5>
                    </div>
                    <img src="" alt="" class="stat1">
                    <img src="" alt="" class="stat2">
                    <img src="../../../assets/img/logo/Capture d’écran 2022-05-25 201957.png" alt="" class="main-img">
                </div>
                
            </div>
        </div>
    </div>
</div>
