:host ::ng-deep app-nav-bar{
    position: absolute;
    top: 5px;
    right:20px
}
.display-content{
   .add-chapter{
       background-color: #4fe28c;
       border-radius: 15px;
       width: 110px;
       position: absolute;
       top: 120px;
       right: 20px;
       .btn-ch{
           border: none;
           background-color: transparent;
           
           .add-ch{
               font-size: 18px;
               color: #000;
               margin-right: 10px;
           }

       }
       .btn-ch:hover{
           .img-add{
               transform: scale(1.05);
           }
       }

   }
   .add-quiz{
    background-color: #71abc0;
    top: 120px;
       right: 140px;
   }

    .chapter-list{
        position: absolute;
        right: 20px;
        top: 180px;
        width: 400px;
        height: max-content;
        background-color: rgb(211, 205, 205);
        ul:nth-child(1){
           .chapter{
               margin-top: 0;
               border: none;
           }
        }
        .chapter{
            width: 100%;
            height: 80px;
            border-top: 1px solid rgb(165, 163, 163);
            display: list-item;
            box-sizing: border-box;
            margin-top: -17px;
            a{
                font-size: 20px;
                letter-spacing: 3px;
                text-transform: capitalize;
                text-decoration: none;
                color: #000000;
                font-weight: 700;
                display: block;
                
            }
            a.active{
                background-color: #3b3a3a;
                color: #ffffff;
            }

            a:hover{
                background-color: #000B49;
                color: #ffffff;
                transform: scale(1.03);
            }

        }
        
    }
    .contenue{
        position: absolute;
        top: 190px;
        left: 50px;
        width: 870px;
    }
}
.see-choises{
    background-color: #EFFFFD; 
   border-radius: 20px;
   -webkit-transition: all 0.05s ;
   -moz-transition: all 0.05s ;
   -ms-transition: all 0.05s ;
   transition: all 0.05s ;
    cursor: pointer;
    width: 120px;
    padding: 5px;
}
.see-choises:hover{
    background-color:#abe9e2 ;
    -webkit-transition: all 0.05s ;
   -moz-transition: all 0.05s ;
   -ms-transition: all 0.05s ;
   transition: all 0.05s ; 
   transform: scale(1.1);
}
