<ng-container 
    *ngIf="submitted && message == 'success'">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      La formation est ajouter avec succès.
      <button type="button" class="close" data-dismiss="alert" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-container>
        
      
    <ng-container *ngIf="submitted && message == 'error'">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Probleme!! </strong> verifier votre saisit
        <button type="button" class="close" data-dismiss="alert" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-container>
    <form [formGroup]="form" (ngSubmit)="onSubmit()"  >
        <div class="form-group row justify-content-end "  >
          <input type="file" class="file-input d-none"  name="video"
          (change)="onFileSelected($event)"
          #fileUpload   >
        <p class="file-name">{{fileName || "Exporter Fichier"}}</p>
        <button class="btn-join"
          (click)="fileUpload.click()">
            <img src="../../../../assets/img/attachment-clip.png" class="img-join" style="border-radius: 50%;" alt="">
        </button>
        <!--  -->
        </div>
              <div class="form-group">
                <label for="inputName">Titre</label>
                <input type="text" formControlName="title" name="title" class="form-control" id="inputName">
              </div>
              <div class="pogress-bar my-4">
                <p-progressBar  *ngIf="uploadProgress" mode="indeterminate" [style]="{'height': '6px','width':'50%','margin-left':'auto','margin-right':'auto'}"></p-progressBar>
              </div>
              <div class=" w-100 d-flex justify-content-center">
                <button   type="submit" class="btn btn-send mb-5">Ajouter</button>
              </div>
        
    </form>
