
<div class="some-info d-flex justify-content-between">
    <div class="certafication"></div>
    <div class="test-connaissance"></div>
</div>

<div class="box-quiz my-3 mx-5">
    <div class="header-quiz d-flex justify-content-between">
        <img src="../../../../../assets/img/quiz/exam.png" alt="">
        <h3 class="nb-question pt-2">
            <span style="color: green; font-weight:bold">10</span> / 25 Questions
        </h3>
        <h3 >Test en <span class="name-cours">Angular</span></h3>
    </div>
<hr>
</div>

<img src="" alt="">
<img src="" alt="">