:host{
    
    .content-outlet{
        width: 900px;
        // position: absolute;
        // top: 100px;
        // left: 350px; 
        margin-top: 90px;
        margin-left: 350px;
        transition: all 0.4s;
    }
    .to-left{
        margin-left: 50px;
        transition: all 0.4s;
        width: 1100px;

    }
}