:host{
    .title{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .hteacher{
        padding: 12px 5px;
        border-radius: 12px ;
        background-color: #ffede9;
        margin-top: 15px;
        margin-bottom: 15px;
        .h{
            font-size: 16px;
            font-weight: bold;
            display: inline;
            text-align: center;
            
            
    }
    .hI{
        padding-left: 56px;
    }
    .hN{padding-left: 117px;}
    .hE{padding-left: 213px;}
    .hT{padding-left: 105px;}
    .hF{padding-left: 93px;}
    
    }
}
    
