#chart {
  padding: 0;
  .img-arrow{
    position: absolute;
    bottom: 85px;
    left: 217px;
  }
  .nb-evaluateur{
    -webkit-transform:rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    position: absolute;
    bottom: 140px;
    left: 350px;
    font-size: 20px;
    font-weight: 700;
  }
  .img-arrow2{
    -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  bottom: 85px;
  right: 217px;
  }
  .exp{
    -webkit-transform:rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
    position: absolute;
    bottom: 140px;
    right: 350px;
    font-size: 20px;
    font-weight: 700;
  }

}
