<div class="container  mt-2 naav"> 
    <nav class="navbar w-100 d-flex  navbar-expand-lg navbar-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  w-100" id="navbarNav">
          <ul class="navbar-nav d-flex justify-content-center w-100">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/student']" routerLinkActive="router-link-active" >Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/student/all-courses']" routerLinkActive="router-link-active" >Toutes les Formations</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  (click)="scroll()" style="cursor:pointer;" >Meilleurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/student/sondage']" routerLinkActive="router-link-active" >Sondage</a>
              </li>
          </ul>
          
        </div>
        
        
      </nav>
      <ng-container *ngIf="!isLoggedIn;else logedIn">
      <div class="auth ">
        <div class="row d-flex justify-content-between">
            <button (click)="showDialogLogin()" class="connect">Se Connecter</button>
            <button (click)="showDialogRegister()" class="register">S'Inscrire</button>
        </div>
    </div>
    </ng-container>
    <p-dialog  [(visible)]="loginDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <app-login></app-login>
</p-dialog>
<p-dialog  [(visible)]="registerDialog" [dismissableMask]="true" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <app-register></app-register>
</p-dialog>
    <ng-template #logedIn >
      <div class="dropdown auth">
        <a class="btn my-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
          <img height="40px" style="margin-right: 7px; border-radius: 50%;" width="40px" [src]="imgPath" > <span style="font-weight: bold;font-size:17px;margin-left:18px">{{student.name}} </span>
        </a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/student/profile']" routerLinkActive="router-link-active"  >Profil <img src="../../../assets/img/user (3).png" style="margin-left:70px;" alt=""></a>
          <a class="dropdown-item" [routerLink]="['/student/edit-profile']">Modifier profil <img style="margin-left:12px" src="../../../assets/img/settings.png" alt=""></a>
          <a class="dropdown-item" [routerLink]="['/student/my-courses']" routerLinkActive="router-link-active"  >Mes Formations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style="cursor:pointer;" (click)="logOut()">Déconnexion</a>
        </div>
      </div>
    </ng-template>
      
    <div class="shop-cart" (click)="goToCart()">
        <img src="../../../assets/img/online-seance/shopping-cart.png" alt="">
        <!-- <span>{{nbItemsCart | async}}</span> -->
        <span>{{(nbItemsCart | async)  || 0}}</span>
    </div>
      <div class="logo" (click)="goToHome()">
        <div class="row">
            <img class="mr-2" src="../../../assets/img/logo/logo32B.png" alt="">
            <span class="el">EL</span><span class="e">e</span><span class="rn">rn</span>
        </div>
    </div>
    
</div>
