<div class="best-teacher">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="left-grid">
                    <h1>vidéo, audio et cours en direct de haute qualité</h1>
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
                    <a class="visit-cours" [routerLink]="['all-courses',{type:'online'}]"  >Voir Formations En Ligne </a>
                    <img class="chat" src="../../../assets/img/online-seance/chat.png" alt="" class="chat">
                    <div class="specific">
                        <div class="row f-audio">
                            <img src="../../../assets/img/online-seance/audio.png" alt="">
                            <h5>Audio</h5>
                        </div>
                        <div class="row f-video">
                            <img src="../../../assets/img/online-seance/streaming.png" alt="">
                            <h5>vidéo conférence</h5>
                        </div>
                        <div class="row f-rec">
                            <img src="../../../assets/img/online-seance/play.png" alt="">
                            <h5>séance enregistrée</h5>
                        </div>
                        
                    
                    </div>
                </div>

            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center">
                <div class="right-grid">
                    <img src="../../../assets/img/online-seance/online-conference.png" alt="" class="main-img">
                    <img src="" alt="" class="second-img">
                </div>
            </div>
        </div>
    </div>
</div>