<div class="jumbotron jumbotron-fluid">
  <button (click)="goToList()" class="jumbt-btn" ><i class="far fa-arrow-alt-circle-left fa-2x" ></i></button>
  <div class="container">
    <h1 class="display-4 jumbt-h1" >Modifier la categorie</h1>
    </div>
  </div>
  <ng-container 
    *ngIf="submitted && message == 'success'">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      La categorie est modifier avec succès.
      <button type="button" class="close" data-dismiss="alert" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </ng-container>
        
      
    <ng-container *ngIf="submitted && message == 'error'">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Problem!! </strong> verifier votre saisit
        <button type="button" class="close" data-dismiss="alert" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </ng-container>
  <form [formGroup]="form" (ngSubmit)="onUpdate()">
    <div class="form-group" >
      <label for="exampleFormControlInput1">Nom De Categorie</label>
      <input type="text" formControlName="name"  [(ngModel)]="categorie.name"  class="form-control" 
      id="exampleFormControlInput1" placeholder="Developpement web"
      [ngClass]="{ 'is-invalid': submitted && form.controls.name.errors }">
    </div>
    <div class="form-group">
      <angular-editor formControlName="shortDescription" [(ngModel)]="categorie.short_description" name="shortDescription" [config]="editorConfig"
      [ngClass]="{ 'is-invalid': submitted && form.controls.description.errors }"></angular-editor>
  </div>
    <div class="form-group">
        <angular-editor formControlName="description" [(ngModel)]="categorie.description"   name="description" [config]="editorConfig"
        [ngClass]="{ 'is-invalid': submitted && form.controls.description.errors }"></angular-editor>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>

     
  </form>